﻿@model GerenciamentoCinema.Models.SessaoModel

<br>
<section id="loginForm">
    @using (Html.BeginForm("Editar", "Sessao", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form class="form-horizontal">

            <div class="form-group">
              @Html.LabelFor(m => m.id)
                @Html.TextBoxFor(m => m.id, new { @class = "form-control", autocomplete = "off" })
            </div>

            <div class="form-group">
                <label>Sala</label>
                <select class="form-control" disabled id="id_sala" name="id_sala"></select>
            </div>

            <div class="form-group">
                <table class="col-md-3">
                    <tr>
                        <th class="col-md-4" style="padding-left: 0px; padding-right: 0px">
                            <label>Data Sessão</label>

                            @Html.TextBoxFor(m => m.datepicker, new { @class = "form-control", autocomplete = "off", @readonly = "true", @style = "background-color : #ffffff !important; cursor : pointer !important" })
                        </th>
                        <th class="col-sm-2" style="padding-left: 0px; padding-right: 0px">
                            <label>Hora Sessão</label>
                            @Html.TextBoxFor(m => m.timepicker, new { @class = "form-control", autocomplete = "off", @readonly = "true", @style = "background-color : #ffffff !important; cursor : pointer !important" })
                        </th>

                    </tr>
                </table>
            </div>

            <div class="form-group">

                <table class="col-md-3">
                    <tr> <th> @Html.LabelFor(m => m.id_filme) </th></tr>

                    <tr> <th colspan="2"> <input id="busca_filme" name="busca_filme" class="form-control"> </th></tr>
                    <tr>
                        <th class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            @Html.TextBoxFor(m => m.id_filme, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                        </th>
                        <th class="col-md-6" style="padding-left: 0px; padding-right: 0px">
                            @Html.TextBoxFor(m => m.titulo_filme, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                        </th>
                        <th class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            <input type="button" id="clear_fime" class="btn" value="&times;" />
                        </th>
                    </tr>
                    <tr> <td>@Html.ValidationMessageFor(m => m.id_filme, "", new { @class = "text-danger" }) </td></tr>
                </table>
            </div>
            <br />
            @*<input id="duracao_filme" style="display:none" readonly />*@
            <div class="form-group">
                <table class="col-md-4">
                    <tr>
                        <th class="col-sm-1" style="padding-left: 0px; padding-right: 0px"> @Html.LabelFor(m => m.duracao) </th>
                        <th class="col-sm-1" style="padding-left: 0px; padding-right: 0px"> @Html.LabelFor(m => m.tempo_limpeza) </th>
                    </tr>
                    <tr>
                        <th class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            @Html.TextBoxFor(m => m.duracao, new { @class = "form-control", autocomplete = "off", @readonly = "true", @style = "display:inline" })
                        </th>
                        <th class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            @Html.TextBoxFor(m => m.tempo_limpeza, new { @class = "form-control", autocomplete = "off", @readonly = "true", @style = "display:inline" })
                        </th>
                    </tr>

                </table>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.duracao)



                    @Html.LabelFor(m => m.tempo_limpeza)
                *@
            </div>




            <div class="form-group">
                @Html.LabelFor(m => m.data_hora_formatada_final)
                @Html.TextBoxFor(m => m.data_hora_formatada_final, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                @Html.ValidationMessageFor(m => m.data_hora_formatada_final, "", new { @class = "text-danger" })
            </div>



            <div class="form-group">
                <p id="sessao_vinculada">Selecione Horário/sala/filme</p>
            </div>

            <div class="form-group">
                <label>Tipo Animação</label>
                <select class="form-control" id="tp_animacao" name="tp_animacao"></select>
            </div>

            <div class="form-group">
                <label>Tipo Áudio</label>
                <select class="form-control" id="tp_audio" name="tp_audio"></select>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.valor_ingresso)
                @Html.TextBoxFor(m => m.valor_ingresso, new { @type = "number", @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.valor_ingresso, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.ActionLink("Cancelar", "Index", "Filme", null, new { @class = "btn btn-danger", })
                <input type="submit" id="btn_submit" class="btn btn-success" value="Salvar" disabled />
            </div>
        </form>
    }
</section>

@section scripts{
    <script>
        $.ajax({
            url: '@Url.Action("list", "Sala")',
            type: "post",
            dataType: "json",
            success: function (response) {
                if (response.length > 0) {
                    for (var i = 0; i < response.length; i++) {
                        if ('@ViewBag.Sala' == response[i].id)
                            $("#id_sala").append(new Option(response[i].nome + " | Qtd. assentos : " + response[i].qtd_assentos, response[i].id, true, true));
                        else
                            $("#id_sala").append(new Option(response[i].nome + " | Qtd. assentos : " + response[i].qtd_assentos, response[i].id));
                    }
                    $('#id_sala').attr('disabled', false);
                } else {
                    toastr['error']('erro localizando salas', 'Erro');
                }

            },
            error: function (response) {
                toastr['error']('erro localizando salas', 'Erro');
            }
        }).done(function () {
            validaSessao();
        });


        $("#datepicker").datepicker({
            //changeYear: true,
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,

            minDate: new Date(),
            location: "pt-BR",
        });

        $("#datepicker").datepicker().datepicker("setDate", new Date());

        $('#timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 5,
            minTime: '8:00',
            maxTime: '23:59',
            defaultTime: '8',
            startTime: '8:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true,
            change: function (time) {
                validaSessao();
            }
        });

        $.datepicker.regional['pt-BR'] = {
            closeText: 'Fechar',
            prevText: '&#x3c;Anterior',
            nextText: 'Pr&oacute;ximo&#x3e;',
            currentText: 'Hoje',
            monthNames: ['Janeiro', 'Fevereiro', 'Mar&ccedil;o', 'Abril', 'Maio', 'Junho',
            'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
            'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            dayNames: ['Domingo', 'Segunda-feira', 'Ter&ccedil;a-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sabado'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['pt-BR']);


        $("#busca_filme").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("ListEmCartaz", "Filme")',
                    data: { pg: 1, busca: $('#busca_filme').val() },
                    type: "post",
                    dataType: "json",
                    success: function (data) {

                        var values = $.map(data, function (item) {
                            return {
                                uri: item.titulo,
                                label: item.titulo,
                                value: item.titulo,
                                id: item.id,
                                duracao: item.duracao_min
                            };
                        });
                        response(values);
                    },
                    error: function (response) {
                        toastr['error']('erro localizando salas', 'Erro');
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                event.preventDefault();
                $('#id_filme').val(ui.item.id);
                $('#titulo_filme').val(ui.item.label);
                $('#duracao').val(ui.item.duracao);
                $('#busca_filme').val('');
                validaSessao();
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });

        $('#clear_fime').on('click', function () {
            $('#titulo_filme').val('');
            $('#id_filme').val('');
            $('#busca_filme').val('');
            $('#btn_submit').attr('disabled', true);
            
        });

        $("#id_sala").on("change", function () {
            validaSessao();
        });


        $("#datepicker").on("change", function () {
            validaSessao();
        });


        var tpanimacao = ['2D', '3D'];
        for (var i = 0; i < tpanimacao.length; i++) {
            if ('@ViewBag.tp_animacao' == tpanimacao[i])
                $("#tp_animacao").append(new Option(tpanimacao[i], tpanimacao[i], true, true));
            else
                $("#tp_animacao").append(new Option(tpanimacao[i], tpanimacao[i]));
        }

        var tpaudio = ['Dublado', 'Legendado'];
        var tpaudio_value = ['D', 'L'];
        for (var i = 0; i < tpanimacao.length; i++) {
            if ('@ViewBag.tp_audio' == tpaudio_value[i])
                $("#tp_audio").append(new Option(tpaudio[i], tpaudio_value[i], true, true));
            else
                $("#tp_audio").append(new Option(tpaudio[i], tpaudio_value[i]));
        }



        function formatadoisdigitos(numero) {
            if (numero <= 9)
                return "0" + numero;
            else
                return numero;
        }

        function validaSessao() {

            var d = $('#datepicker').val()[0] + $('#datepicker').val()[1];
            var m = $('#datepicker').val()[3] + $('#datepicker').val()[4];
            var y = $('#datepicker').val()[6] + $('#datepicker').val()[7] + $('#datepicker').val()[8] + $('#datepicker').val()[9]

            var inicio = (y + m + d + " " + $('#timepicker').val());

            var idsala = parseInt($('#id_sala').val());
            var id_filme = parseInt($('#id_filme').val());

            if (Number.isNaN(idsala)) {
                return;
            }

            if (Number.isNaN(id_filme) || id_filme <= 0) {
                return;
            }
            if ($('#timepicker').val() == "") {
                return;
            }
            if (Number.isNaN(inicio)) {
                return;
            }
           

            if (parseInt($('#duracao').val()) > 0) {
                var dtinicio = Date.parse(y + "-" + m + "-" + d + "T" + $('#timepicker').val());
                var dtfim = new Date(dtinicio);
                dtinicio = new Date(dtinicio);
                var duracao_filme = parseInt($('#duracao').val());
                var tempo_limpeza = parseInt($('#tempo_limpeza').val());
                dtfim.setMinutes(dtfim.getMinutes() + duracao_filme + tempo_limpeza);
                let dataFormatada = ((dtfim.getDate()) + "/" + formatadoisdigitos((dtfim.getMonth() + 1)) + "/" + dtfim.getFullYear() + " " + formatadoisdigitos(dtfim.getHours()) + ":" + formatadoisdigitos(dtfim.getMinutes()));
                $('#data_hora_formatada_final').val(dataFormatada);
            }
            var id_sessao = parseInt($('#id').val());
            console.log(id_sessao);
            if ($('#id_filme').val() != "") {
                $.ajax({
                    url: '@Url.Action("checkHorarioValido", "Sessao")',
                    data: { inicio: inicio, idsala: idsala, id_filme: id_filme, id_sessao : id_sessao },
                    type: "post",
                    dataType: "json",
                    success: function (response) {
                        $('#sessao_vinculada').empty();
                        if (response.length == 0) {
                            toastr['success']('horario disponivel', '');
                            $('#sessao_vinculada').append('Horário/sala disponivel');
                            $('#btn_submit').attr('disabled', false);
                        } else {
                            for (var i = 0; i < response.length; i++) {
                                $('#sessao_vinculada').append(response[i].msg + '<br>');
                                console.log(response[i].msg);
                            }
                            $('#btn_submit').attr('disabled', true);
                        }
                    },
                    error: function (response) {
                        $('#btn_submit').attr('disabled', true);
                    }
                });
            }
        }
        $("#datepicker").val('@ViewBag.datepicker');
        $("#timepicker").val('@ViewBag.timepicker');
    </script>
}