﻿<section>
    <br />
    <div class="row">
        <div class="box">
            <div id="header" class="row col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tbody>
                            <tr>
                                <th style="padding-left: 0px; padding-right: 0px">
                                    <a href="@Url.Action("Novo", "Sessao")" class="btn btn-primary">  Novo <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>

                                </th>
                                <th style=" width: 64%;"> </th>
                                <th>
                                    <label>Sessões :</label>
                                    <input type="radio" name="sex" class="filtro" value="todas" checked> Todas
                                    <input type="radio" name="sex" class="filtro" value="passado"> Passadas
                                    <input type="radio" name="sex" class="filtro" value="hoje"> Hoje
                                    <input type="radio" name="sex" class="filtro" value="futuras"> Futuras
                                </th>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <table id="table" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-2">Data hora</th>
                                <th class="col-md-2">Data hora final</th>
                                <th class="col-md-1">Valor Ingresso</th>
                                <th class="col-md-1">Tipo Animação</th>
                                <th class="col-md-1">Audio</th>
                                <th class="col-md-2">Filme</th>
                                <th class="col-md-1">Sala</th>
                                <th class="col-md-1">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>


                    <div class="row">
                        <div class="col-md-12">
                            <input id="prevpage" type="button" class="btn btn-primary btn-sm disabled" value="&laquo;" />
                            <label id="pgatual" style="font-weight: normal !important;"> @ViewBag.PagAtual </label>
                            <input id="nextpage" type="button" class="btn btn-primary btn-sm disabled" value="de  @ViewBag.TotPag &raquo;" />
                            <label id="resumo" style="font-weight: normal !important;"> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Deletar sessão</h4>
            </div>

            <div class="modal-body">
                <p id="detalhes_delete"></p>
                <label hidden id="id_sessao"></label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="btn_modal_deletar" class="btn btn-danger disabled">Deletar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="info" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Detalhes da sessão</h4>
            </div>

            <div class="modal-body">
                <p id="detalhes_info"></p>
                <img class="img-responsive img-thumbnail" id="img_filme">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
      
        function criar_linha_grid(dados) {
            var action_edit = '@Url.Action("Editar", "Sessao" )' + "/" + dados.id;
            var ret =
                 '<tr> <td>' + dados.data_hora_formatada + ' </td> ' +
                ' <td>' + dados.data_hora_formatada_final + '</td> ' +
                ' <td>R$ ' + dados.valor_ingresso + ' </td> ' +
                ' <td>' + dados.tp_animacao + ' </td> ' +
                ' <td>' + dados.tp_audio + ' </td> ' +
                ' <td>' + dados.titulo_filme + ' </td> ' +
                ' <td>' + dados.nome_sala + ' </td> ' +
                ' <td> ' +
                ' <a href="' + action_edit + '" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a> ' +
                ' <a class="btn btn-info btn-sm" data-id_sessao="' + dados.id + '" data-toggle="modal" data-target="#info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a> ' +
                ' <a id="btn-delete" data-id_sessao="' + dados.id + '" ' +
                ' data-toggle="modal" data-target="#confirm-delete" ' +
                ' class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash "></i></a>  ' +
                ' </td></tr> ';
            return ret;
        }

        $('#info').on('show.bs.modal', function (e) {
            $('#detalhes_info').empty();
            $('#img_filme').attr("src","");
            $('#detalhes_info').append("<strong>Carregando ...</strong>");
            console.log($(e.relatedTarget).data('id_sessao'));
            $.ajax({
                url: '@Url.Action("Visualizar", "Sessao")',
                data: { id: $(e.relatedTarget).data('id_sessao') },
                type: "post",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.id > 0 ){
                        $('#detalhes_info').empty();
                        $('#detalhes_info').append("Dados sessão :<br>" +
                            "ID Sessão: " + response.id + "<br>" +
                            "Data/hora inicio sessão : " + response.data_hora_formatada + "<br>" +
                            "Data/hora final sessão : " + response.data_hora_formatada_final + "<br>" +
                            "Tipo animação : " + response.tp_animacao + "<br>" +
                            "Audio : " + response.tp_audio + "<br>" +
                            "Valor ingresso (R$) : " + response.valor_ingresso +
                            "<br><br>" +
                            "Dados sala :<br>" +
                            "Nome : " + response.nome_sala + "<br>" +
                            "Qtd assentos : " + response.qtd_assentos +
                            "<br><br>" +
                            "Dados Filme :<br>" +
                            "Titulo do filme : " + response.titulo_filme + "<br>" +
                            "Duração : " + response.duracao_extenso + "<br>" +
                            "Status : " + response.em_cartaz_extenso + "<br<br>");
                        $('#img_filme').attr("src",response.imagem);
                    }else{
                        toastr['error']('erro localizando dados da sessao', 'Erro');
                    }
                },
                error: function (response) {
                    $('#detalhes_info').empty();
                    $('#detalhes_info').append("Erro carregando dados da sesão");
                    toastr['error']('erro localizando dados da sessao', 'Erro');
                }
            });
        });

        $('#confirm-delete').on('show.bs.modal', function (e) {
            $('#detalhes_delete').empty();
            $('#img_filme').attr("src","");
            $('#detalhes_delete').append("<strong>Carregando ...</strong>");
            console.log($(e.relatedTarget).data('id_sessao'));
            $.ajax({
                url: '@Url.Action("Visualizar", "Sessao")',
                data: { id: $(e.relatedTarget).data('id_sessao') },
                type: "post",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.id > 0) {
                        $('#detalhes_delete').empty();
                        $('#detalhes_delete').append("<strong>" + response.canDeleteMSG + "</strong><br>" +
                            "Dados sessão : <br>" +
                            "ID Sessão: " + response.id + "<br>" +
                            "Data/hora inicio sessão : " + response.data_hora_formatada + "<br>" +
                            "Data/hora final sessão : " + response.data_hora_formatada_final + "<br>" +
                            "Tipo animação : " + response.tp_animacao + "<br>" +
                            "Audio : " + response.tp_audio + "<br>" +
                            "Valor ingresso (R$) : " + response.valor_ingresso +
                            "<br><br>" +
                            "Dados sala :<br>" +
                            "Nome : " + response.nome_sala + "<br>" +
                            "Qtd assentos : " + response.qtd_assentos +
                            "<br><br>" +
                            "Dados Filme :<br>" +
                            "Titulo do filme : " + response.titulo_filme + "<br>" +
                            "Duração : " + response.duracao_extenso + "<br>" +
                            "Status : " + response.em_cartaz_extenso + "<br<br><br>");
                        if (response.canDelete) {
                            $('#detalhes_delete').append('<strong>Deseja deletar a sessão ? Esse processo é irreversível.</strong>');
                            $('#btn_modal_deletar').removeClass("disabled");

                            $('#id_sessao').empty();
                            $('#id_sessao').append(response.id);
                        } else {
                            $('#btn_modal_deletar').addClass("disabled");
                        }

                    }else{
                        toastr['error']('erro localizando dados da sessao', 'Erro');
                        $('#btn_modal_deletar').addClass("disabled")
                    }
                },
                error: function (response) {
                    $('#detalhes_delete').empty();
                    $('#detalhes_delete').append("Erro carregando dados da sesão");
                    toastr['error']('erro localizando dados da sessao', 'Erro');
                    $('#btn_modal_deletar').addClass("disabled")
                }
            });
        });

        $('#btn_modal_deletar').on('click', function (e) {
            var id = $('#id_sessao').text();
            console.log(id);
            $.ajax({
                url: '@Url.Action("deletar", "Sessao")',
                data: { id: id },
                type: "post",
                dataType: "json",
                success: function (response) {
                    if (response != "") {
                         location.href = '@Url.Action("index", "Sessao")';
                    } else {
                          toastr['error'](response, 'Erro');
                    }

                },
                error: function (response) {
                    toastr['error'](response, 'Erro');

                }
            });
        });

        $('.filtro').on('change', function () {
            buscaDados(1);
        })

        $('#nextpage').on('click', function (e) {
            var pgatual = parseInt($('#pgatual').text()) + 1;

            buscaDados(pgatual);
            $('#pgatual').text(pgatual)

            validaBtnPagination(pgatual);
        });

        $('#prevpage').on('click', function (e) {
            var pgatual = parseInt($('#pgatual').text()) - 1;
            buscaDados(pgatual);
            $('#pgatual').text(pgatual)
            validaBtnPagination(pgatual);
        });

        function validaBtnPagination(pgatual) {
            if (pgatual == 1) {
                $('#prevpage').addClass("disabled")
            } else {
                $('#prevpage').removeClass("disabled")
            }
            if (pgatual == '@ViewBag.TotPag') {
                $('#nextpage').addClass("disabled")
            } else {
                $('#nextpage').removeClass("disabled")
            }

            var porPagina = parseInt('@ViewBag.RegPorPag')
            var final = (pgatual * porPagina) > parseInt('@ViewBag.TotReg') ? parseInt('@ViewBag.TotReg') : (pgatual * porPagina);
            var atual = ((pgatual * porPagina) - (porPagina) + 1);
            $('#resumo').text(atual + " até " + final + " registros de" + ' @ViewBag.TotReg');
        }

        function buscaDados(pg) {
            var url = '@Url.Action("IndexPG", "Sessao")';

            console.log($(".filtro:checked").val());
            var filtro = $(".filtro:checked").val();
            $.ajax({
                url: '@Url.Action("IndexPG", "Sessao")',
                data: { pg: pg , filtro : filtro},
                type: "post",
                dataType: "json",
                success: function (response) {
                    var table = $('#table').find('tbody');
                    table.empty();
                    for (var i = 0; i < response.length; i++) {
                        table.append(criar_linha_grid(response[i]));
                    }
                }
            });
        }

        $(document).ready(function () {
            validaBtnPagination(1);
            buscaDados(1);
        });

    </script>
}