﻿@{
    ViewBag.Title = "Cadastros de Filmes";
}



@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <p>Senha do administrador</p>
        <input type="password" placeholder="Preencha senha admin" id="password_migration" class="form-control" />
    </div>

    <div class="row">
        <input type="button" value="Criar Banco de dados" id="createDatabase" class="btn btn-success form-control" data-url='@Url.Action("createDatabase", "Migrations")' @*data-url="/Migrations/createDatabase"*@ />
        <input type="button" value="Criar Tabelas" id="updateTables" class="btn btn-success form-control" data-url='@Url.Action("UpdateTables", "Migrations")' @*data-url="/Migrations/UpdateTables"*@ />
    </div>

    <div class="row">
        <input type="button" value="Excluir Banco de dados" id="dropDatabase" class="btn btn-danger form-control" data-url='@Url.Action("dropDatabase", "Migrations")' @*data-url="/Migrations/dropDatabase"*@ />
        <input type="button" value="Excluir Tabelas" id="dropTables" class="btn btn-danger form-control" data-url='@Url.Action("dropTables", "Migrations")' @*d @*data-url="/Migrations/dropTables"*@ />
    </div>
    <div class="row">

        <p id="result1"></p>
        <p id="result2"></p>
        <p id="result2"></p>

        <div id="erroDiv" class="alert alert-danger" role="alert">
            <p class="p-3 mb-2 bg-danger text-white" id="resultErro"></p>
        </div>

    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(function () {
        //$('#createDatabase').unbind('click');
        $('#createDatabase').on('click', function () { bindClick($('#createDatabase').data("url")); });
        $('#updateTables').on('click', function () { bindClick($('#updateTables').data("url")); });
        $('#dropDatabase').on('click', function () { bindClick($('#dropDatabase').data("url")); });
        $('#dropTables').on('click', function () { bindClick($('#dropTables').data("url")); });

    });
    //bindClick("/Migrations/check");
    bindClick('@Url.Action("check", "Migrations")')
    function bindClick(url) {
        var password_migration = $('#password_migration').val();
        $('#result1').text("Processando");
        $('#result2').text("");
        $('#resultErro').text("");

        $.ajax({
            url: url,
            type: 'POST',
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify({ password_migration: password_migration }),
            success: function (result) {
                //console.log(result);
                if (result.msg_erro != "") {
                    $('#resultErro').text(result.msg_erro);
                 
                    $('#erroDiv').show();
                } else {     
                    $('#erroDiv').hide();

                    $('#result1').text(result.msg_database);
                    $('#result2').text(result.msg_tabelas);
                    $('#createDatabase').prop('disabled', !result.create_database);
                    $('#updateTables').prop('disabled', !result.update_tables);
                    $('#dropDatabase').prop('disabled', !result.drop_database);
                    $('#dropTables').prop('disabled', !result.drop_table);
                }
            },
            error: function (result) {
                $('#resultErro').text(result.msg_erro);
                $('#erroDiv').Show();
            }
        });
    }
</script>