﻿@*@model GerenciamentoCinema.Models.LoginViewModel*@

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home Page</h2>
<h3>Bem vindo @Session["auth_user_name"] </h3>

