﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GERENCIAMENTO DE CINEMA</h1>
    <p class="lead">Gerencie suas salas de cinema como nunca.</p>
    @Html.ActionLink("Faça login", "Login", "Home", null, new { @class = "btn btn-primary btn-lg" })

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Primeiro passos</h2>
        <p> Para iniciar o gerenciamento do seu cinema, primeiro precisamos preparar o seu ambiente, basta acessar o link abaixo,preencher a senha e clique em 'criar database'</p>
        @Html.ActionLink("Acesse agora", "Index", "Migrations", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Atualizando o sistema</h2>
        <p> Para finalizar o ambiente, basta acessar o link abaixo,preencher a senha e clique em  'atualizar database'</p> 
        @Html.ActionLink("Acesse agora", "Index", "Migrations", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Iniciando</h2>
        <p>Começe agora mesmo gerenciando seus filmes,salas e sessões</p>
       @Html.ActionLink("Faça Login", "Login", "Home", null, new { @class = "btn btn-default" })
    </div>
</div>