﻿@model GerenciamentoCinema.Models.UserModel

<div class="container wrp">
    <div class="row">
        <h3> @ViewBag.title </h3>
    </div>

    <div class="row">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group ">
                    @Html.LabelFor(m => m.user, new { })

                    @Html.TextBoxFor(m => m.user, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.user, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.password, new { })

                    @Html.PasswordFor(m => m.password, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <input type="submit" id="btn_submit" class="btn btn-success col-md-12" value="login" />
                </div>

                <div id="erroDiv" class="form-group alert alert-danger" role="alert" hidden>
                    <p class="p-3 mb-2 bg-danger text-white" id="resultErro"></p>
                </div>
                <div id="erroDiv1" class="form-group alert alert-danger" role="alert" hidden>
                    @Html.ActionLink("Acesse agora", "Index", "Migrations", null, new { @class = "btn btn-danger" })
                </div>}

        </section>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(function () {
        $.ajax({
            url: "/Migrations/check",
            type: 'POST',
            contentType: "application/json",
            dataType: 'json',

            success: function (result) {
                console.log(result);

                if (!result.status) {
                    $('#erroDiv').show();
                    $('#erroDiv1').show();
                    $('#user').prop('disabled', true);
                    $('#password').prop('disabled', true);
                    $('#btn_submit').prop('disabled', true);
                    $('#resultErro').text("Erro estrutural, verifique database e tabelas");
                } else if (result.msg_erro != "") {
                    $('#erroDiv').show();

                    $('#btn_submit').prop('disabled', true);
                    $('#resultErro').text(result.msg_erro);
                } else {
                    $('#erroDiv').hide();
                }


            },
            error: function (result) {
                $('#resultErro').text(result.msg_erro);
                $('#erroDiv').Show();
            }
        });
    });


</script>