﻿
<br />
<div class="container wrp">
    <div class="row">

        <div class="form-group ">
            <label>Tempo de limpeza da sala(minutos)</label>
            <br />
            <input id="limpeza_salas_minutos" type="text" class="form-control" style="display: inline !important" />
            <label id="limpeza_salas_formatado">Tempo de limpeza da sala(minutos)</label>
        </div>

        <div class="form-group">
            <label>Tempo para deletar filme(minutos)</label>
            <br />
            <input id="tempo_deleta_sessoes_minutos" type="text" class="form-control" style="display: inline !important" />
            <label id="tempo_deleta_sessoes_formatado">Tempo de limpeza da sala(minutos)</label>
        </div>

        <div class="form-group">
            <input id="btn_salvar" type="button" class="btn btn-success confirm" value="Salvar Configurações" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        function loadData() {
            $.ajax({
                url: '@Url.Action("Load", "Config")',
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',

                success: function (result) {
                    console.log(result);
                    $('#limpeza_salas_minutos').val(result.limpeza_salas_minutos);
                    $('#limpeza_salas_formatado').text(result.limpeza_salas_formatado);

                    $('#tempo_deleta_sessoes_minutos').val(result.tempo_deleta_sessoes_minutos);
                    $('#tempo_deleta_sessoes_formatado').text(result.tempo_deleta_sessoes_formatado);
                },
                error: function (result) {
                    toastr['error']('erro', 'erro');
                }
            });
        }
        $('#btn_salvar').on('click', function () {
            var obj = {
                "limpeza_salas_minutos": parseInt($('#limpeza_salas_minutos').val()),
                "tempo_deleta_sessoes_minutos": parseInt($('#tempo_deleta_sessoes_minutos').val()),
            };
            var config = JSON.stringify(obj);
            //var config = Object.fromEntries(entries);
            console.log(config);
            $.ajax({
                url: '@Url.Action("Save", "Config")',
                type: 'POST',
                data: config,
                contentType: "application/json",
                dataType: 'json',

                success: function (result) {
                    console.log(result);
                    toastr[result.Item2](result.Item1);

                },
                error: function (result) {
                    toastr['error']('erro', 'erro');
                }
            }).done(function () {
                loadData();
            });
        });

        loadData();

    </script>
}