﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema para controle de cinemas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema para controle de cinemas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @if (Convert.ToBoolean(Session["auth"])) {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Filmes", "Index", "Filme")</li>
                        <li>@Html.ActionLink("Salas", "Index", "Sala")</li>
                        <li>@Html.ActionLink("Sessões", "Index", "Sessao")</li>
                        <li>@Html.ActionLink("Usuários", "Index", "User")</li>
                        <li>@Html.ActionLink("Configurações", "Index", "Config")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a class="noHover"> Olá @Session["auth_user_name"] </a>  </li>
                        <li>@Html.ActionLink("Sair", "LogOff", "Home")</li>
                    </ul>} else {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    </ul>}

            </div>
        </div>
    </div>



    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema para controle de cinemas</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-TimePicker-1.0.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    @RenderSection("scripts", required: false)



    @{int i = 0;
        do {
            @Html.Raw(TempData["html" + i.ToString()]);
            i++;
        } while (TempData["html" + i.ToString()] != null);
        TempData.Clear();
    }

</body>
</html>
