﻿@*@model List<GerenciamentoCinema.Models.FilmeModel>*@


<section>
    <br />
    <div class="row">
        <div class="box">
            <div id="header" class="row col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>

            @*<div id="header" class="row col-md-12">
                    <a href="@Url.Action("Novo", "Filme")" class="btn btn-primary">  Novo <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>

                </div>*@

            <br />
            <div class="row">
                <div class="col-md-12">
                    <table id="table" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th class="col-md-4">e-mail</th>
                                <th class="col-md-1">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>


                    <div class="row">
                        <div class="col-md-12">
                            <input id="prevpage" type="button" class="btn btn-primary btn-sm disabled" value="&laquo;" />
                            <label id="pgatual" style="font-weight: normal !important;"> @ViewBag.PagAtual </label>
                            <input id="nextpage" type="button" class="btn btn-primary btn-sm disabled" value="de  @ViewBag.TotPag &raquo;" />
                            <label id="resumo" style="font-weight: normal !important;"> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>
        function criar_linha_grid(dados) {
            var ret =
                 '<tr> <td>' + dados.user + ' </td> ' +
                ' <td>' + dados.lastname + '</td> ' +
                ' <td>' + dados.email + '</td> ' +
                ' <td> ' +
                ' 	<a class="btn btn-primary btn-sm" disabled="true"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a> ' +
                ' 	<a class="btn btn-danger btn-sm" disabled="true"> <i class="glyphicon glyphicon-trash"></i></a> ' +
                ' </td></tr> ';
            return ret;
        }

        $('#nextpage').on('click', function (e) {
            var pgatual = parseInt($('#pgatual').text()) + 1;
            console.log(pgatual);
            buscaDados(pgatual);
            $('#pgatual').text(pgatual)

            validaBtnPagination(pgatual);
        });

        $('#prevpage').on('click', function (e) {
            var pgatual = parseInt($('#pgatual').text()) - 1;
            buscaDados(pgatual);
            $('#pgatual').text(pgatual)
            validaBtnPagination(pgatual);
        });

        function validaBtnPagination(pgatual) {
            if (pgatual == 1) {
                $('#prevpage').addClass("disabled")
            } else {
                $('#prevpage').removeClass("disabled")
            }
            if (pgatual == '@ViewBag.TotPag') {
                $('#nextpage').addClass("disabled")
            } else {
                $('#nextpage').removeClass("disabled")
            }

            var porPagina = parseInt('@ViewBag.RegPorPag')
            var final = (pgatual * porPagina) > parseInt('@ViewBag.TotReg') ? parseInt('@ViewBag.TotReg') : (pgatual * porPagina);
            var atual = ((pgatual * porPagina) - (porPagina) + 1);
            $('#resumo').text(atual + " até " + final + " registros de" + ' @ViewBag.TotReg');
        }


        function buscaDados(pg) {
            var url = '@Url.Action("IndexPG", "User")';
            $.ajax({
                url: '@Url.Action("IndexPG", "User")',
                data: { pg: pg },
                type: "post",
                dataType: "json",
                success: function (response) {
                    var table = $('#table').find('tbody');
                    table.empty();
                    for (var i = 0; i < response.length; i++) {
                        table.append(criar_linha_grid(response[i]));
                    }
                }
            });
        }


        $(document).ready(function () {
            validaBtnPagination(1);
            buscaDados(1);
        });

    </script>
}