﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deny</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Faça login", "Login", "Home", null, new { @class = "btn btn-primary btn-lg" });
        @Html.ActionLink("Volte ao home", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</body>
</html>
