﻿@model GerenciamentoCinema.Models.FilmeModel

<br>
<section id="editar_filme_form">
    @using (Html.BeginForm("Editar", "Filme", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        <form class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(m => m.titulo)
                @Html.TextBoxFor(m => m.titulo, new { @class = "form-control", autocomplete = "off", style = "height:100%; max-width: 100% !important;" })
                @Html.ValidationMessageFor(m => m.titulo, "", new { @class = "text-danger" })

            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.descricao)
                @Html.TextAreaFor(m => m.descricao, new { @class = "form-control", autocomplete = "off", style = " display:block; height:100%; min-width: 100% !important;  max-width: 100% !important;" })
                @Html.ValidationMessageFor(m => m.descricao, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.duracao_min)
                @Html.TextBoxFor(m => m.duracao_min, new { @type = "number", @class = "form-control", autocomplete = "off" })

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.em_cartaz)
                @Html.CheckBoxFor(m => m.em_cartaz)

            </div>

            <div class="form-group">

                <input type="file" id="fileElem" accept="image/x-png,image/gif,image/jpeg" style="display:none">
                <a class="btn btn-primary" id="fileSelect">Selecione imagem</a>
                <br />
                <br />
                <img  class="img-responsive img-thumbnail" id="img">
                @Html.TextBoxFor(m => m.imagem, new { style = "display:none" })

            </div>


            <div class="form-group">
                @Html.ActionLink("Cancelar", "Index", "Filme", null, new { @class = "btn btn-danger" })
                <input type="submit" id="btn_submit" class="btn btn-success" value="Salvar" />
            </div>
        </form>
       

    }
</section>

@section scripts{
    <script>
                var fileSelect = $('#fileSelect');
                var fileElem = $('#fileElem');

                fileSelect.on('click', function (e) {
                    if (fileElem) {
                        fileElem.click();
                    }
                    e.preventDefault();
                });

                fileElem.on('change', function () {
                    if (this.files && this.files[0]) {

                        var FR = new FileReader();

                        FR.addEventListener("load", function (e) {
                            document.getElementById("img").src = e.target.result;
                            $('#imagem').val(e.target.result);
                        });

                        FR.readAsDataURL(this.files[0]);
                    }
                });

                function expandTextarea(id) {
                    document.getElementById(id).addEventListener('keyup', function () {
                        this.style.overflow = 'hidden';
                        this.style.height = 0;
                        this.style.height = this.scrollHeight + 'px';
                    }, false);
                }

                expandTextarea('descricao');

                $(document).ready(function () {
                    if ($('#imagem').val() != ""){
                        document.getElementById("img").src = $('#imagem').val();
                    }
                    var desc = document.getElementById('descricao');
                    desc.style.overflow = 'hidden';
                    desc.style.height = 0;
                    desc.style.height = desc.scrollHeight + 'px';
                });
    </script>}