﻿<section>
    <br />
    <div class="row">
        <div class="box">
            <div id="header" class="row col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tbody>
                            <tr>
                                <th class="col-md-1" style="padding-left: 0px; padding-right: 0px">
                                    <a href="@Url.Action("Novo", "Filme")" class="btn btn-primary">  Novo <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
                                </th>
                                <th class="col-md-8"></th>
                                <th class="col-md-3" style="padding-left: 0px; padding-right: 0px">
                                    <input id="input_busca" type="text" class="form-control" placeholder="Buscar" />
                                </th>
                                <th class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                                    <a id="buscar" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> </a>
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th class="col-md-8"></th>
                                <th colspan="2" style="padding-left: 0px; padding-right: 0px; text-align:center !important">
                                    <label>Status:</label>
                                    <input type="radio" name="sex" class="filtro" value="todos" checked>Todos
                                    <input type="radio" name="sex" class="filtro" value="emcartaz">Em Cartaz
                                    <input type="radio" name="sex" class="filtro" value="foracartaz">Fora de Cartaz
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <table id="table" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th class="col-md-2">Duracao</th>
                                <th class="col-md-1">Status</th>
                                <th class="col-md-1">Ação</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>

                        </tfoot>
                    </table>


                    <div class="row">
                        <div class="col-md-12">
                            <input id="prevpage" type="button" class="btn btn-primary btn-sm disabled" value="&laquo;" />
                            <label id="pgatual" style="font-weight: normal !important;"> @ViewBag.PagAtual </label>
                            <input id="nextpage" type="button" class="btn btn-primary btn-sm disabled" value="de  @ViewBag.TotPag &raquo;" />
                            <label id="resumo" style="font-weight: normal !important;"> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Deletar filme</h4>
            </div>

            <div class="modal-body">
                <p id="detalhes_filme"></p>
                <label hidden id="id_filme"></label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="btn_modal_deletar" class="btn btn-danger">Deletar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="filme-info" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Detalhes filme</h4>
            </div>

            <div class="modal-body">
                <p id="detalhes_filme_info"></p>
                <img class="img-responsive img-thumbnail" id="img_filme_info">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function criar_linha_grid(dados) {
            var action_edit = '@Url.Action("Editar", "Filme")' + "/" + dados.id;
            var ret =
            '<tr>  <td>' + dados.titulo + ' </td> ' +
            ' <td>' + dados.descricao + '</td> ' +
            ' <td>' + dados.duracao_extenso + '</td> ' +
            ' <td>' + dados.em_cartaz_extenso + '</td> ' +
            ' <td>  ' +
            ' <a href="' + action_edit + '" class="btn btn-primary btn-sm "><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a> ' +
            ' <a class="btn btn-info btn-sm" data-filme_id="' + dados.id + '" data-toggle="modal" data-target="#filme-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a> ' +
            ' <a id="btn-delete" data-filme_id="' + dados.id + '" ' +
                 ' data-toggle="modal" data-target="#confirm-delete" ' +
                 ' class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash "></i></a>  ' +
            ' </td></tr> ';
            return ret;
        }

        $('#confirm-delete').on('show.bs.modal', function (e) {
            $('#detalhes_filme').empty();
            $('#detalhes_filme').append("<strong>Carregando ...</strong>");
            $('#btn_modal_deletar').addClass("disabled");

            $.ajax({
                url: '@Url.Action("canDelete", "Filme")',
                data: { id: $(e.relatedTarget).data('filme_id') },
                type: "post",
                dataType: "json",
                success: function (response) {
                    $('#detalhes_filme').html('ID : ' + response[0].id + '<br>' +
                        'Titulo : ' + response[0].titulo + '<br>' +
                        'Descrição : <br>' + response[0].descricao + '<br><br>' +
                        'Duração : ' + response[0].duracao_extenso + '<br>' +
                        'Status : ' + response[0].em_cartaz_extenso + '<br><br>');

                    if (response.length > 1) {
                        $('#btn_modal_deletar').addClass("disabled");
                        if (response.length == 1) {
                            $('#detalhes_filme').append('<strong>Existe sessão vinculada:</strong> <br><br>');
                        } else {
                            $('#detalhes_filme').append('<strong>Existem sessões vinculadas:</strong> <br><br>');
                        }
                        for (var i = 1; i < response.length; i++) {
                            $('#detalhes_filme').append(response[i].msg + '<br><br>');
                        }
                    } else {
                        $('#detalhes_filme').append('Sessão : Nenhuma Vinculada<br><br>');

                        $('#id_filme').empty();
                       // $('#id_filme').append($(e.relatedTarget).data('filme_id'));
                        $('#id_filme').append(response[0].id);


                        $('#detalhes_filme').append('<strong>Deseja deletar o filme ? Esse processo é irreversível.</strong>');
                        $('#btn_modal_deletar').removeClass("disabled");
                    }
                },
                error: function (response) {
                    $('#btn_modal_deletar').addClass("disabled")
                }
            });
        });

        $('#filme-info').on('show.bs.modal', function (e) {
            $('#detalhes_filme_info').empty();
            $('#img_filme_info').attr("src","");
            $('#detalhes_filme_info').append("<strong>Carregando ...</strong>");

            $.ajax({
                url: '@Url.Action("Visualizar", "Filme")',
                data: { id: $(e.relatedTarget).data('filme_id') },
                type: "post",
                dataType: "json",
                success: function (response) {

                    if (response.id > 0 ){
                        $('#detalhes_filme_info').empty();
                        $('#detalhes_filme_info').append("ID : " + response.id + "<br>" +
                        "Titulo : " + response.titulo  + "<br>" +
                            "Descricao : <br>" + response.descricao + "<br><br>" +
                        "Duração : " + response.duracao_extenso + "<br>" +
                        "Status : " + response.em_cartaz_extenso  + "<br>" );
                        $('#img_filme_info').attr("src",response.imagem);
                    }else{
                        toastr['error']('erro localizando filme', 'Erro');
                    }

                },
                error: function (response) {
                    $('#detalhes_info').empty();
                    $('#detalhes_info').append("Erro carregando dados do filme");
                    toastr['error']('erro localizando filme', 'Erro');
                }
            });
        });

        $('#buscar').on('click', function (e) {
            buscaDados(1,$('#input_busca').val());
        });

        $('#btn_modal_deletar').on('click', function (e) {
            var id = $('#id_filme').text();
            console.log(id);
            $.ajax({
                url: '@Url.Action("deletar", "Filme")',
                data: { id: id },
                type: "post",
                dataType: "json",
                success: function (response) {
                    if (response != "") {
                         location.href = '@Url.Action("index", "Filme")';
                    } else {
                          toastr['error'](response, 'Erro');
                    }

                },
                error: function (response) {
                    toastr['error'](response, 'Erro');

                }
            });
        });

        $('#nextpage').on('click', function (e) {
            var pgatual = parseInt($('#pgatual').text()) + 1;
            buscaDados(pgatual);
            $('#pgatual').text(pgatual)

            validaBtnPagination(pgatual);
        });

        $('#prevpage').on('click', function (e) {
            var pgatual = parseInt($('#pgatual').text()) - 1;
            buscaDados(pgatual);
            $('#pgatual').text(pgatual)
            validaBtnPagination(pgatual);
        });

        function validaBtnPagination(pgatual) {
            if (pgatual == 1) {
                $('#prevpage').addClass("disabled")
            } else {
                $('#prevpage').removeClass("disabled")
            }
            if (pgatual == '@ViewBag.TotPag') {
                $('#nextpage').addClass("disabled")
            } else {
                $('#nextpage').removeClass("disabled")
            }

            var porPagina = parseInt('@ViewBag.RegPorPag')
            var final = (pgatual * porPagina) > parseInt('@ViewBag.TotReg') ? parseInt('@ViewBag.TotReg') : (pgatual * porPagina);
            var atual = ((pgatual * porPagina) - (porPagina)+1) ;
            $('#resumo').text(atual + " até " + final + " registros de" + ' @ViewBag.TotReg');
        }

        $('.filtro').on('change', function () {
            buscaDados(1);
        })

        function buscaDados(pg, pesquisa = '') {
            var filtro = $(".filtro:checked").val();
            var url = '@Url.Action("IndexPG", "Filme")';

            $.ajax({
                url: '@Url.Action("IndexPG", "Filme")',
                data: { pg: pg, busca: pesquisa, filtro_status: filtro },
                type: "post",
                dataType: "json",
                success: function (response) {
                    var table = $('#table').find('tbody');
                    table.empty();
                    for (var i = 0; i < response.length; i++) {
                        table.append(criar_linha_grid(response[i]));
                    }
                }
            });
        }

            $(document).ready(function () {
                validaBtnPagination(1);
                buscaDados(1);
            });
    </script>
}